/* Global styles that apply to mobile, tablet, and desktop */
body,
html {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: #ff8641
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-family: 'Righteous', cursive;
  font-size: 2em;
  color: #7b7d70
}

h2 {
  font-size: 1.5em;
  color: #4eafb8
}

/* Styles for tablet */

@media screen and (min-width: 768px) {}

/* Styles for desktop */

@media screen and (min-width: 1200px) {}